NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

SUPABASE_SERVICE_ROLE_KEY=

WHOP_API_KEY=
WHOP_WEBHOOK_SECRET=
WHOP_ENV=
WHOP_PLAN_STARTER=
WHOP_PLAN_GROWTH=
WHOP_PLAN_BUSINESS=

RESEND_API_KEY=
SENTRY_DSN=

SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=

DHL_CLIENT_ID=
DHL_CLIENT_SECRET=

DPD_CLIENT_ID=
DPD_CLIENT_SECRET=

INTERNAL_WORKER_SECRET=
